@import '~@material/notched-outline/mdc-notched-outline';
@import '~@material/select/mdc-select';
@import '~@material/textfield/mdc-text-field';
@import '../base/index';

$aik-data-form-spacing: 7px;

.aik-data-form__fieldset {
    margin: 10px 0;
    padding: 10px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;

    &:first-child {
        margin-top: 0;
    }

    &:last-child {
        margin-bottom: 0;
    }

    > * {
        margin: $aik-data-form-spacing 0;

        &:first-child {
            margin-top: 0;
        }

        &:last-child {
            margin-bottom: 0;
        }
    }
}

.aik-data-form__fieldset--horizontal {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;

    > * {
        margin: 0 $aik-data-form-spacing;

        &:first-child {
            margin-left: 0;
        }

        &:last-child {
            margin-right: 0;
        }
    }
}

.aik-data-form__fieldset--hidden {
    display: none;
}

.aik-data-form__fieldset--no-border {
    border: none;
}

.aik-data-form__fieldset--no-decoration {
    padding: 0;
    border: none;
}

.mdc-select,
.mdc-text-field {
    min-width: 6em;
    width: 100%;
}

/**
 * For controls with invisible labels (but labels are still required to support screen readers etc.)
 */
.aik-data-form__label--hidden {
    display: none;
}
