@import '~@material/list/mdc-list';

/**
 * Support for lists which need to contain input elements (using AikDataForm)
 *
 * Example usage:
 *
 * ```html
 * <!-- HTML -->
 * <ul id="my-list" class="mdc-list mdc-list--data-form" aria-orientation="vertical">
 *     <li class="mdc-list-item">
 *         <span class="mdc-list-item__text">
 *             <span class="mdc-list-item__primary-text">My primary text</span>
 *         </span>
 *         <form class="aik-data-form mdc-list-item__meta">
 *             <fieldset class="aik-data-form__fieldset aik-data-form__fieldset--hidden">
 *                 <div class="mdc-text-field mdc-text-field--dense mdc-text-field--short mdc-text-field--outlined">
 *                     <input id="my-list-item__my-field__input"
 *                             class="mdc-text-field__input"
 *                             name="my-field"
 *                             type="number"
 *                             value="0"
 *                             min="0"
 *                             step="1"
 *                             required/>
 *                     <label for="my-list-item__my-field__input"
 *                             class="mdc-floating-label mdc-floating-label--float-above">
 *                         My field
 *                     </label>
 *                     <div class="mdc-notched-outline mdc-notched-outline--notched">
 *                         <svg>
 *                             <path class="mdc-notched-outline__path"/>
 *                         </svg>
 *                     </div>
 *                     <div class="mdc-notched-outline__idle"></div>
 *                 </div>
 *             </fieldset>
 *         </form>
 *     </li>
 *     <!-- ... -->
 * </ul>
 * ```
 *
 * ```javascript
 * // JavaScript
 * window.addEventListener('load', () => {
 *     new MDCList(document.querySelector('#my-list'));
 *     document.querySelectorAll('#my-list .mdc-list-item .aik-data-form')
 *             .forEach(it => new AikDataForm(it));
 * });
 * ```
 */
.mdc-list--data-form {
    .mdc-list-item {
        // Same item height as .mdc-list--two-line
        height: 72px;
    }
    &.mdc-list--dense .mdc-list-item {
        // Same item height as .mdc-list--two-line.mdc-list--dense
        height: 60px;
    }

    .mdc-list-item .mdc-list-item__meta .aik-data-form__fieldset {
        justify-content: flex-end;
    }
}
