// Must be imported before any @material components
@import 'theme.scss';

@import '~@material/tab/mdc-tab';
@import '~@material/tab-bar/mdc-tab-bar';
@import '~@material/tab-indicator/mdc-tab-indicator';
@import '~@material/tab-scroller/mdc-tab-scroller';
@import '~@material/top-app-bar/mdc-top-app-bar';
@import '~@material/typography/mdc-typography';
@import '~material-design-icons/iconfont/material-icons';

body {
    margin: 0;
    padding: 0;
}

.aik-top-app-bar__title-icon {
    @extend .mdc-top-app-bar__navigation-icon;
    img {
        width: 36px;
        height: 36px;
    }
}
