@import '~material-design-lite/src/data-table/data-table';
@import '~material-design-lite/src/shadow/shadow';

// Override rules from ~material-design-lite/src/data-table/data-table to fix header appearance
.mdl-data-table {
    $header-icon-size: $data-table-header-sort-icon-size;
    $header-color: $data-table-header-color;
    $header-color-hover: $data-table-header-sorted-color;

    width: 100%;

    tr:first-of-type td {
        border-top-width: 2px;
    }

    th {
        // Avoid accidentally selecting header text while attempting to sort
        user-select: none;
    }
    th.mdl-data-table__header--sortable {
        &::before {
            display: inline-block;
            width: $header-icon-size;
            margin-right: 0;
            content: ' ';
        }
        &::before,
        &.mdl-data-table__header--sorted-ascending,
        &.mdl-data-table__header--sorted-descending {
            color: $header-color;
        }
        &:hover,
        &:hover::before {
            color: $header-color-hover;
            cursor: pointer;
        }
        &.mdl-data-table__header--sorted-ascending::before {
            content: '\e5d8';
        }
        &.mdl-data-table__header--sorted-descending::before {
            content: '\e5db';
        }
    }
}
